<html>
    <head>
        <title>Solvemedia test!</title>
    </head>    
    <body>
        <form method='POST' action='./validate'>
         
            <input type="submit" value='Submit Form'/>
        </form>
    </body>
</html>       
